*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100vw;
}

nav{
    height: 8vh;
    width: 100%;
    background-color: black;
    padding: 2vh 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav i{
    display: none;
}
nav img{
    width: 120px;
}

#nav-part2{
    align-items: center;
    width: 50%;
    height: 100%;
    display: flex;
    gap: 1.5vw;
    justify-content: flex-end;
}

#nav-part2 a{
    text-decoration: none;
    color: white;
}

#nav-part2 #links{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

#nav-part2 button{
    padding: 4px 15px;
    border-radius: 50px;
    border: none;
}

#nav-part2 button:nth-child(2){
    background-color: red;
    color: white;
}

button i {
    font-size: 1.2vw;
}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    border: 1.8px solid white;
    color: white;
}

#center{
    width: 100%;
    height: 60%;
}

#center img{
    height: 100%;
    width: 100%;
}
#bottom{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh ;
}

#bottom h1{
    font-weight: 400;
    text-align: center;
}

#bottom h1 span{
    font-weight: 600;
}

#bottom P {
    text-align: center;
}

.card{
    height: 250px;
    width: 300px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 350px;
    position: relative;
    align-items: center;
}

.card img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.card button{
    border-radius: 50px;
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 20px;
    width: 70%;
}

#cards{
    width: 100%;
    margin-top: 6vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

@media (max-width: 1150px) {
    #links a{
        display: none;
    }
}

@media (max-width: 560px) {
    nav button{
        display: none;
    }
    nav i {
        display: block;
        color: white;
        font-size: 8.5vw;
    }
}